<div class="container">
    
    <mat-card style=" border: 5px solid #3f51b5">    
      <div style="background-color: #3f51b5; color:white">
        <h2 style="margin:0px">Bejelentkezés</h2>
        <h4>Készült: 2020.</h4>
    </div>
      <div style="display: flex;">
       <div style="float:left; width: 30%; "  >
        <mat-icon color="primary" svgIcon="build" style=" margin-left:-16px; width: 100%; height: 100%;"></mat-icon>
        </div>
  
        <mat-card-content style="float:right;  width: 70%;  margin:0px;" >

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-error *ngIf="loginInvalid">
              A felhasználónév vagy a jelszó hibás!
            </mat-error>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Felhasználónév" formControlName="username" required>
              <mat-error>
                Hibás felhasználónév
              </mat-error>
            </mat-form-field>
        <br/>
        <mat-form-field class="form-field full-width-input" >
          <mat-label> Jelszó
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="form.controls.password.touched && form.controls.password.invalid">
            <span *ngIf="form.controls.password.errors.required">Ez a mező kötelező. </span>
            <span *ngIf="!form.controls.password.errors.valid">A jelszó 6 és 12 karakter között kell, hogy legyen.</span>
          </mat-error>
        </mat-form-field>
            <br/>
            <button  style="width: 100%;" mat-raised-button color="primary">Bejelentkezés</button>
          </form>
        </mat-card-content>
      </div> 
      </mat-card>
</div>