<div class="jobtitle">
    <h3 style="text-align: center; margin:0">{{job?.title}}</h3>
</div>
<mat-card>
        <p>
            {{job?.description}}
        </p>           
        <div *ngIf="isNewJob()">   
              
            <div style="width:100%;">
                <p  ><b>Beíró:</b> {{job?.owner.fullname}} <br/> <b>Terület:</b> {{job?.area.name}}<br/> <b>Feltéve:</b> {{job?.createdDate | date:'yyyy-MM-dd'}}</p>
               
            </div>    
            <button *ngIf="authGuard.isUserJanitor()" (click)="onIClaimIt()" mat-raised-button color="primary">Elválalom</button>
            <button  *ngIf="authGuard.jobIsMine(job) || authGuard.iAmTheAreaBoss(job)" (click)="goToModifyJobPage()"  mat-raised-button color="primary">Módosítás</button>
            &nbsp;
            <button *ngIf="authGuard.jobIsMine(job) || authGuard.iAmTheAreaBoss(job)" (click)="onDeleteJob()" mat-raised-button color="warn">Törlés</button>    
         </div>         
         <div *ngIf="inProgressJob()" >
            <mat-grid-list  rowHeight="100px"  cols="2">
                <mat-grid-tile style="display: block !important;">
                    <b>Beíró:</b> {{job?.owner.fullname}} <br/><b>Terület:</b> {{job?.area.name}} <br/> <b>Feltéve:</b> {{job?.createdDate | date:'yyyy-MM-dd'}}
                </mat-grid-tile>
                <mat-grid-tile style="display: block !important;">
                    <b>Elvállalta:</b> {{job?.worker.fullname}} 
                </mat-grid-tile>            
            </mat-grid-list>
            <button *ngIf="authGuard.iStartedTheJob(job)" (click)="onJobToBeChecked()" mat-raised-button color="primary">Kész</button>  
         </div> 
     
        <div *ngIf="checkNeededForTheJob()">
            <mat-grid-list  rowHeight="100px"  cols="2">
                <mat-grid-tile style="display: block !important;">
                    <b>Beíró:</b> {{job?.owner.fullname}} <br/><b>Terület:</b> {{job?.area.name}} <br/> <b>Feltéve:</b> {{job?.createdDate | date:'yyyy-MM-dd'}}
                </mat-grid-tile>
                <mat-grid-tile style="display: block !important;">
                    <b>Elvállalta:</b> {{job?.worker.fullname}} <br/>  <b>Feladat elkészítve:</b> {{job?.createdDate | date:'yyyy-MM-dd'}}
                </mat-grid-tile>            
            </mat-grid-list>
            <div *ngIf="authGuard.iAmTheAreaBoss(job) && !job?.doneDate">
                <button  mat-raised-button color="primary" (click)="onJobIsDone()" >Hitelesít</button>
                &nbsp;
                <button mat-raised-button color="warn" (click)="onJobIsWrong()">Visszadob</button>
            </div>
        </div>   
</mat-card>