<div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Elévgezndő feladatok listája</mat-card-title>
            </mat-card-header>
            <mat-card-content *ngFor="let job of jobs">
                <mat-card>
                    <h3>{{job.getTitle()}}</h3>
                    <p>
                        {{job.getDescription()}}
                        <br/>
                        <small><bold>Beíró:</bold> {{job.getOwner().getFullname()}} <bold>Feltéve:</bold> {{job.getCreatedDate()}}</small>
                    </p>                        
                    <button *ngIf="isUserJanitor()" mat-raised-button color="primary">Elválalom</button>
                    <button *ngIf="jobIsMine()" mat-raised-button color="primary">Módosítás</button>
                    <button *ngIf="jobIsMine()" mat-raised-button color="warn">Törlés</button>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>
