.maindiv{
    background-color:white;
    padding:15px;
}
.mat-divider {
    border-top-color: #3f51b5;
}

.addbuttoncontainer{
    position:fixed;
    right:20px;
    bottom:20px;
    width:4em;
    height:4em;
}
.mat-icon {
     display: inline-flex; 
     vertical-align: text-bottom;
     margin-right: 5px;
}